language: android

script:
    - chmod +x ./gradlew
 
android:
  components:
    # Update Android SDK Tools
    - tools

    - build-tools-23.0.1
    - android-23

    # Support library
    - extra-android-support
    - extra-android-m2repository
    
notifications:
  slack: guuber:5so8pzD4T3JEWdWcGKWQ61GK
