<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.guuber.guuber">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="guuber.cmu.edu.activities.common.CommonWelcomeActivity"
            android:label="@string/title_activity_common_welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.driver.EndServiceActivity"
            android:label="@string/title_activity_driverend"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.driver.StartServiceActivity"
            android:label="@string/title_activity_driverstart"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.driver.UpdateProfileActivity"
            android:label="@string/title_activity_driverupdate"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.driver.ViewHistoryActivity"
            android:label="@string/title_activity_driverview"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.passenger.EndServiceActivity"
            android:label="@string/title_activity_passengerend"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.passenger.StartServiceActivity"
            android:label="@string/title_activity_passengerstart"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.passenger.UpdateProfileActivity"
            android:label="@string/title_activity_passengerupdate"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.passenger.ViewHistoryActivity"
            android:label="@string/title_activity_transactionview"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.driver.DetailedViewActivity"
            android:label="@string/title_activity_driverview"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.passenger.DetailedViewActivity"
            android:label="@string/title_activity_transactionview"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.common.CommonSignInSignUpActivity"
            android:label="@string/title_activity_common_sign_in_sign_up"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.common.CommonSignUpActivity"
            android:label="@string/title_activity_common_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="guuber.cmu.edu.activities.driver.FindPassengerActivity"
            android:label="@string/title_activity_find_passenger"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.passenger.FindDriverActivity"
            android:label="@string/title_activity_find_driver"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="guuber.cmu.edu.activities.common.CommonSignInActivity"
            android:label="@string/title_activity_common_sign_in"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="guuber.cmu.edu.service.GuuberService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>