<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.guuber.guuber">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.cmu.guuber.view.common.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.cmu.guuber.view.common.ChooseSignupSignin"
            android:label="@string/title_activity_choose_signup_signin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="edu.cmu.guuber.view.common.Signup"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="edu.cmu.guuber.view.common.Signin"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.driver.EndService"
            android:label="@string/title_activity_driverend"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.driver.StartService"
            android:label="@string/title_activity_driverstart"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.driver.UpdateProfile"
            android:label="@string/title_activity_driverupdate"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.driver.ViewHistory"
            android:label="@string/title_activity_driverview"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.driver.FindPassenger"
            android:label="@string/title_activity_findpassenger"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.passenger.endService"
            android:label="@string/title_activity_passengerend"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.passenger.startService"
            android:label="@string/title_activity_passengerstart"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.passenger.updateProfile"
            android:label="@string/title_activity_passengerupdate"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.passenger.viewHistory"
            android:label="@string/title_activity_transactionview"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="edu.cmu.guuber.view.passenger.findDriver"
            android:label="@string/title_activity_finddriver"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
